*{
  margin: 0;
  padding: 0;
} /* removes all different margin and padding between browser's*/
 
html, body {
  width: 100%;
  height: 100%;
}

header
{
  display: flex;
  justify-content: space-around;
  background-color:  	#DCDCDC;
}

header section
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header section h1, a
{
  font-size: 12px;
  color:  #566573 ;
  font-family: Arial, Helvetica, sans-serif ;
  margin-left: 4px;
  margin-right: 4px;
  text-decoration: none;
}

header section img
{
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 2px;
  margin-bottom: 2px;

}

header .headerSideRight img
{
  border-radius: 50%;
}

body .main
{
  height: 100%;
  width: 100%;  
}

body .main .searchBox
{
  height: 20%;
  width: 100%;
  background-color:  #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .main .gifBox
{ 
  height: 80%;
  width: 100%;
  background-color: #111111 ;
}



body .main .searchBox h1
{
  color: white;
  font-family: Arial, Helvetica, sans-serif ;
}


body .main .searchBox .search
{
 margin-top: 20px;
 display: flex;
 flex-direction: row;
 width: 30%;
}


.search .searchBar 
{
  padding-left: 8px;
  width: 100%;
  height: 30px;
  border-radius: 15px 0px 0px 15px;
  border: 2px;
  color: #DCDCDC;
}


/* Change text color, when clicked */
.search .searchBar:focus{
  color: #52FFA8;
}



.searchButton
 {
  border: 2px ;
  background: #52FFA8;
  text-align: center;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  width: 100px;
}