*{
  margin: 0;
  padding: 0;
} /* removes all different margin and padding between browser's*/
 
html, body {
  width: 100%;
  height: 100%;
}

header
{
  display: flex;
  justify-content: space-around;
  background-color:  	#DCDCDC;
}

header section
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header section h1
{
  font-size: 12px;
  color:  #566573 ;
  font-family: Arial, Helvetica, sans-serif ;
  margin-left: 4px;
  margin-right: 4px;
}

header section img
{
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 2px;
  margin-bottom: 2px;

}

header .headerSideRight img
{
  border-radius: 50%;
}

body .main
{
  height: 100%;
  width: 100%;  
}

body .main .searchBox
{
  height: 25%;
  width: 100%;
  min-height: fit-content; /* check if work's !!! */
  background-color:  #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .main .gifBox
{ 
  height: 75%;
  width: 100%;
  min-height: fit-content; /* check if work's !!! */
  background-color: #111111 ;
}



body .main .searchBox h1
{
  color: white;
  font-family: Arial, Helvetica, sans-serif ;
}


body .main .searchBox .search
{
 margin-top: 10px;
}