*{
  margin: 0;
  padding: 0;
}
body{
  background: #fff;
  font-size: 100%;
  font-family: sans-serif;
  width: 90vw;
  height: 100hv;
  margin: 0 auto;
}

header{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

main{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.header-comment{
  color:#EE7994;
}

.comments{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comment-input{
  display: flex;
}

.comment-input p{
  margin-bottom: 10px;
}

.comment-input input{
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  font-weight:bold;
}

.comment-input button{
width: 200px;
height: 55px;
padding-left: 10px;
padding-right: 10px;
color:rgba(255,255,255,0.8);
background:rgba(0,0,0,0.5);
cursor:pointer;
font-size: 1.2em;
margin-left: 10px;
box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.3);
transition: all 200ms cubic-bezier(0.25,0.39,0.39,2.01);
}
.comment-input button:hover{
  transform: scale(1.05);
  box-shadow: 0px 25px 15px -15px rgba(0,0,0,0.3);
}

.comments p:nth-child(even){
padding: 10px;
background: #EE7994;
}

.comments p:nth-child(odd){
padding: 10px;
color: white;
background: #000;
}

.inputs {
  margin-top: 20px;
}
